[Unit]
Description=PPI Motor de Decision - Deteccion de Anomalias de Red
After=network.target suricata.service
Requires=suricata.service

[Service]
Type=simple
User=m4rk
WorkingDirectory=/home/m4rk/ppi-surikata-producto
ExecStart=/home/m4rk/ppi-sensor/venv/bin/python3 scripts/motor_decision.py
Restart=on-failure
RestartSec=10
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
